
.carte {
    width: 50%;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;  /* Animation de transformation */
    position: relative;
}

path {
    stroke: #000000;
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-opacity: .50;
    fill: #86aae0;
    transition: fill 0.3s ease-in-out;  /* Animation du changement de couleur */
}

g:hover path {
    fill: #86cce0;  /* Changer la couleur au survol */
}

footer {
    text-align: center;
    font-size: 12px;
}

/* Sélecteur pour zoomer et animer les régions */
.region {
    transform: scale(1); /* Valeur initiale */
    transform-origin: center; /* Garder le centre de la région fixe pendant le zoom */
    transition: transform 0.3s ease-in-out; /* Animation fluide */
}

/* Zoom au survol d'une région */
.region:hover {
    transform: scale(1.3); /* Agrandir la région lorsqu'elle est survolée */
}